In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Load the dataset (replace with the correct path)
file_path = 'student-mat.csv'  # Replace with your file path
df = pd.read_csv(file_path, delimiter=';')

# Display the first few rows of the dataframe
print("First few rows of the dataset:")
print(df.head())

# Describe the type of features
print("\nData Types and Info:")
print(df.info())

print("\nStatistical Summary of Numerical Features:")
print(df.describe())

# Identify categorical variables
categorical_columns = df.select_dtypes(include=['object']).columns
print("\nCategorical Columns:", categorical_columns)

# Transform categorical variables
# Here we demonstrate both label encoding and one-hot encoding

# Label Encoding example
label_encoder = LabelEncoder()
for column in categorical_columns:
    # We apply label encoding only on columns that have 2 or fewer unique values
    if len(df[column].unique()) <= 2:
        df[column] = label_encoder.fit_transform(df[column])
        print(f"Label Encoded Column: {column}")

# One-Hot Encoding example
df = pd.get_dummies(df, columns=[col for col in categorical_columns if col not in df.columns])

# Display the transformed DataFrame
print("\nTransformed DataFrame:")
print(df.head())

First few rows of the dataset:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

Data Types and Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

Statistical Summary of Numerical Features:
              age        Medu        Fedu  traveltime   studytime    failures  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    2.749367    2.521519    1.448101    2.035443    0.334177
std      1.276043    1.094735    1.088201    0.697505    0.839240    0.743651
min     15.000000    0.000000    0.000000    1.000000    1.000000    0.000000
25%     16.000000    2.000000    2.000000    1.000000    1.000000    0.000000
50%     17.000000    3.000000    2.000000    1.000000    2.000000    0.000000
75%     18.000000    4.000000    3.000000    2.000000    2.000000    0.000000
max     22.000000    4.000000    4.000000    4.000000    4.000000    3.000000

           famrel    freetime       goout        Dalc        Walc      health  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     3.944304    3.235443    3.108861    1.481013    2.291139    3.554430
std      0.896659    0.998862    1.113278    0.890741    1.287897    1.390303
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    2.000000    1.000000    1.000000    3.000000
50%      4.000000    3.000000    3.000000    1.000000    2.000000    4.000000
75%      5.000000    4.000000    4.000000    2.000000    3.000000    5.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000

         absences          G1          G2          G3
count  395.000000  395.000000  395.000000  395.000000
mean     5.708861   10.908861   10.713924   10.415190
std      8.003096    3.319195    3.761505    4.581443
min      0.000000    3.000000    0.000000    0.000000
25%      0.000000    8.000000    9.000000    8.000000
50%      4.000000   11.000000   11.000000   11.000000
75%      8.000000   13.000000   13.000000   14.000000
max     75.000000   19.000000   19.000000   20.000000

Categorical Columns: Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')
Label Encoded Column: school
Label Encoded Column: sex
Label Encoded Column: address
Label Encoded Column: famsize
Label Encoded Column: Pstatus
Label Encoded Column: schoolsup
Label Encoded Column: famsup
Label Encoded Column: paid
Label Encoded Column: activities
Label Encoded Column: nursery
Label Encoded Column: higher
Label Encoded Column: internet
Label Encoded Column: romantic

Transformed DataFrame:
   school  sex  age  address  famsize  Pstatus  Medu  Fedu     Mjob      Fjob  \
0       0    0   18        1        0        0     4     4  at_home   teacher
1       0    0   17        1        0        1     1     1  at_home     other
2       0    0   15        1        1        1     1     1  at_home     other
3       0    0   15        1        0        1     4     2   health  services
4       0    0   16        1        0        1     3     3    other     other

   ... famrel freetime  goout  Dalc  Walc  health  absences  G1  G2  G3
0  ...      4        3      4     1     1       3         6   5   6   6
1  ...      5        3      3     1     1       3         4   5   5   6
2  ...      4        3      2     2     3       3        10   7   8  10
3  ...      3        2      2     1     1       5         2  15  14  15
4  ...      4        3      2     1     2       5         4   6  10  10

[5 rows x 33 columns]